.sidedrawer{
    position: fixed;
    top: 0;
    left: 0;
    max-width: 70%;
    height: 100%;
    width: 280px;
    background-color: white;
    z-index: 200;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

@media(min-width: 500px){
    .sidedrawer{
        display: none;
    }
}

.about{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: black;
    padding: 20px 5px;
    text-align: center;
}



.logo img{
    width: 50%;
    display: block;
    margin: 20px auto;
}